body {
    background-color: #395144; 
    color:  #AA8B56;
 }
 .intro{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
     font-size: 18px;
 }
 .main {
     margin: auto;
     padding: 0;
     width: 80%;
 }
 .images{
     display: flex;
     justify-content: center;
     align-items: center;
     min-width: 60vw;
     flex-direction: row;
 }
 .images img{
     padding: 20px;
 }
 .robo{
  padding: 10px;
 }
 .intro {
     color :#F0EBCE;
 }
 .fa {
     padding: 10px;
     text-align: center;
     font-size : 55px; 
     text-decoration: none;
 }
 .techstacks{
     display: flex;
     justify-content:space-between;
     align-items: center;
     flex-wrap: wrap;
     /* min-width: 60vw; */
     flex-direction: row;  
     color:#F0EBCE;
     font-size: 18px;
 }
 .fa-github{
 color: black;
 }
 .fa-linkedin{
 color: #007bb5;
 }
 .fa-envelope{
     color:darkred;
 }
 a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color:#AA8B56;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #F0EBCE;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  .navbar ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    background-color: #4E6C50;
  }  
    
  .navbar li {  
    float: left;  
    border-right: 1px solid #F0EBCE;
  }  
    
  .navbar li a {  
    display: block;  
    font-size: 18px;  
    text-align: center;  
    padding: 10px 20px;  
    text-decoration: none;  
  }  
  .navbar ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    background-color: #4E6C50;
  }  
  @keyframes heading {
    from{color:#395144;}
    to{color: #F0EBCE}    
  }
  h2{
    width: 300px;
    height: 25px;
    padding: 0;
    animation-name: heading;
    animation-duration: 5s;
  }