body {
    background-color: #395144; 
    color:  #AA8B56;
 }
 .intro{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
 }
 .main {
     margin: auto;
     padding: 0;
     width: 80%;
 }
 .navbar .ul .li{
     text-decoration: none;
 }
 .images{
     display: flex;
     justify-content: center;
     align-items: center;
     min-width: 60vw;
     flex-direction: row;
 }
 .images img{
     padding: 20px;
 }
 .intro {
     color :#F0EBCE;
 }
 .fa {
     padding: 20px;
     text-align: center;
     font-size : 64px; 
     text-decoration: none;
 }
 .techstacks{
     display: flex;
     justify-content: center;
     align-items: center;
     min-width: 60vw;
     flex-direction: column;  
     color:#F0EBCE;
 }
 .nav2{
     padding:0;
     display: flex;
     justify-content: left;
     align-items: left;
     min-width: 40vw;
     flex-direction: column;
     text-decoration: none;
 }
 .fa-github{
 color: black;
 }
 .fa-linkedin{
 color: #007bb5;
 }
 .fa-envelope{
     color:darkred;
 }
 .courses {
     margin: auto;
     padding :0;
     width: 80%;
     background-color: #395144; 
 }
 a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color:#AA8B56;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #F0EBCE;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  .navbar ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    background-color: #4E6C50;
  }  
    
  .navbar li {  
    float: left;  
  }  
    
  .navbar li a {  
    display: block;  
    font-size:18px;  
    text-align: center;  
    padding: 10px 20px;  
    text-decoration: none;  
  }  
  .navbar ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    background-color: #4E6C50;
  }  